asgiref==3.5.2
attrs==22.1.0
colorama==0.4.6
Django
exceptiongroup==1.0.4
iniconfig==1.1.1
packaging==22.0
pluggy==1.0.0
pytest==7.2.0
gunicorn==20.0.4
psycopg2-binary
django-filter
django-templated-mail
djangorestframework
djangorestframework-simplejwt
djoser
Pillow
python-dotenv
reportlab==3.6.12
django-colorfield==0.7.2
webcolors==1.12
django-cors-headers==3.13.0
pytz==2022.6
sqlparse==0.4.3
tomli==2.0.1
tzdata==2022.7
